.noto-sans-jp-400 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-jp-600{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.contents-title{
  font-size: 20px;
}
button{
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  transition: .3s;
}
button:hover{
  opacity: 0.6;
}

a{
  text-decoration: none;
  display: block;
  font: inherit;
  color: inherit;
  transition: .3s;
}
a:hover{
  opacity: 0.6;
}
hr{
  border-width: 80%;
  border-style: dashed;
}
.navbar{
  background-color: #e6f2ff;
  height: 100px;
}
.search-window{
  /*display: none;*/
  background-color :#f7f9ff;
  opacity: 0.9;
  padding: 1.2rem;
}

.menu-bar{
  background-color: #e6f2ff;
  position: sticky;
  /*height: 100px;*/
  bottom: 0px;
  /*margin-bottom: -100px;*/
  z-index: 50;

}
.menu-bar a{
  display: block;
  padding: 25px 0;
}
.menu-bar button{
  display: block;
}

.contents-box{
  display: block;
}
.contents-box a{
  display: block;
  
}
.contents-box a:hover{
  opacity: 0.6;
}
.contents-box .contents-header{
  height: 30px;
  color: #325d80;
}
.contents-box .contents-body{
  height: 100px;
}
.contents-box .contents-footer{
  height: 20px;
  text-align: end;
}

.page_title span{
  font-size: 36px;
  color: #001429;
}

.tag-area{
  display: block;
  height: 80px;
}