button{
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  transition: .3s;
}
button:hover{
  opacity: 0.6;
}

a{
  text-decoration: none;
  display: block;
  font: inherit;
  color: inherit;
  transition: .3s;
}
a:hover{
  opacity: 0.6;
}


.search_form{
  display: none;
}

.menu-bar{
  background-color: azure;
  height: 100px;
}
.menu-bar a{
  padding: 25px 0;
}

.dammy{
  display: block;
  height: 200px;
  background-color: aquamarine;
}
